/* about style*/
.hero {
    background: linear-gradient(to bottom, #ba34db, #ffffff);
    color: white;
    text-align: center;
    padding: 2rem;
  }
  .site-logo {
    width: 122px;
    height: 40px;
    object-fit: contain; /* Ensures the image is not stretched */
    margin-top: 5px;
  }
  
  .site-title {
    font-size: 1rem;
    font-weight: bold;
    color: white; /* Adjust to match your theme */
    text-transform: uppercase; /* Optional: Makes the text uppercase */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar .menu li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .join-btn {
    background-color: #ba34db;
    color: white;
    border-radius: 5px;
  }
body {
    background-color: #EAD9F2; 
    color: white; 
}
.sec{
    padding: 9em 0;
    width: 100%;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2em;
}
.left_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.heading{
    color: #473829;
    font-size: 5em;
    padding-top: 10px;
}
.right_box li{
    color: #f0bdce;
    margin-right: 5px;
}
.left_box input{
    padding: 15px;
    outline: none;
    color: #473829;
    border: 2px solid #f6bfd1;
}
.left_box textarea{
    padding: 15px;
    border: 2px solid #f6bfd1;
    outline: none;
}
.top_heading{
    font-size: 40px;
}
/* about us*/

