#about {
    padding: 60px 30px;
    background: linear-gradient(to bottom, #ffffff, #ba34db);
    text-align: center;
}
.hero {
    background: linear-gradient(to bottom, #ba34db, #ffffff);
    color: white;
    text-align: center;
    padding: 2rem;
  }
  .site-logo {
    width: 122px;
    height: 40px;
    object-fit: contain; 
    margin-top: 5px;
  }
  .site-title {
    font-size: 1rem;
    font-weight: bold;
    color: white; 
    text-transform: uppercase; 
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar .menu li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .join-btn {
    background-color: #ba34db;
    color: white;
    border-radius: 5px;
  }
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.intro {
    padding: 40px;
    border-radius: 10px; 
    margin-bottom: 40px; 
    box-shadow: 0 6px 15px #e7c8ec; 
}

.intro h3 {
    font-size: 2.5rem;
    color: #ba34db; 
}

.intro p {
    font-size: 1.2rem;
    color: #BA34DB; 
}

.text-container {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.about-item {
    margin: 40px 0;
    text-align: center;
}

.about-item h3 {
    font-size: 2.5rem;
    color: #BA34DB;
    font-weight: 700;
    margin-bottom: 15px;
}

.about-item p {
    font-size: 1.2rem;
    color: #BA34DB;;
}

.first_part {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.first_box img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
